@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DrukWide";
  src: url("./public/fonts/DrukCyr-Bold.ttf");
}
@font-face {
  font-family: "MabryPro";
  src: url("./public/fonts/MabryPro-Regular.ttf");
}